.contacts {
    padding-top: 40px;

    text-align: center;
}

.feedback {
    margin: 0;

    font-size: 20px;
    font-weight: 300;
}
.contacts__wrapper {
    margin-top: 40px;
    margin-bottom: 35px;
}

.contacts__list {
    padding: 0px;
    list-style: none;
}

.contacts__item {
    margin: 20px 0;
}

.contacts__item p {
    margin: 5px 0;

    font-size: 18px;
    font-weight: 700;
}

.contacts__item .contacts__info {
    font-size: 24px;
    font-weight: 300;
    color: #d22856;
    text-decoration: none;

    &:hover {
        color: #283645;
    text-decoration: underline;
    }

    &:active {
        text-decoration: none;
        opacity: 30%;
    }
}

.contacts__info:hover {
    color: #283645;
    text-decoration: underline;
}


.map__wrapper {
    position: relative;

}

 .map__wrapper::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
    border: 0 50vw solid transparent;
    border-top: 35px solid #ffffff;

} 

.map__wrapper iframe {
    margin-bottom: -7px;
}

@media (min-width: $tablet-width) {

    .feedback {
        font-size: 40px;
        line-height: 45px;
    }

    .contacts__wrapper {
       margin-top: 0;
    }

    .contacts__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;

    }
    .contacts__item {
        max-width: 250px;
        margin: auto;
        margin-top: 50px;
    }

    .map__wrapper::before {
        border-top: 65px solid #ffffff;
    
    } 


    
}

@media (min-width: $desktop-width) {
    .feedback {
        font-size: 50px;
        line-height: 55px;
    }

    .contacts__info {
        display: block;
        margin-top: 30px;
    }

    .map__wrapper::before {

        border-top: 110px solid #ffffff;
    
    } 
}