.download {
    position: relative;
    top:270px;

    margin-top: 130px;
    margin-bottom: 270px;

    text-align: center;

    background-color: #1d2631;

}

.download__image-hand {
    position: relative;
    top: 105px;
}

.download__wrapper {
    position: relative;

    min-height: 242px;
    padding-top: 28px;

    text-align: center;


}

.download__wrapper::before {
    content: "";
    position: absolute;
    top: -285px;
    left: 55%;

    margin-left: -175px;

    width: 260px;
    height: 285px;

    background-image: url("../img/hand-mob.png");
    background-repeat: no-repeat;
}

.download__slogan {
    display: none;
}

.download__button {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 15px 35px;
    width: 280px;
    

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;

    border: 3px solid #ffffff;
    border-radius: 50px;
}

.download__button:hover {
    color: #d22856;

    background-color: #ffffff;
}

.download__button:active {
    color: rgba($color: #d22856, $alpha: 0.3);

    background-color: #ffffff;
}

.download__icon {
    margin: 0 18px;
}

.download__info {
    color: #ffffff;
}

@media (min-width: $tablet-width) {

    .download {
        top: auto;

        margin: 0;

        background-color: transparent ;
    }

    .download__wrapper {
        position: static;
        
        width: 300px;

        text-align: center;
    
    }


    .download__slogan {
        position: relative;

        display: block;
        max-width: 200px;
        margin: auto;
        margin-top: 72px;
        margin-bottom: 35px;

        font-size: 40px;
        line-height: 48px;
        font-weight: 300;
        color: #ffffff;
        z-index: 2;
    }
    
    .download__button {
        position: relative;
        z-index: 2;

        margin-bottom: 45px;
        padding-left: 10px;
        padding-right: 10px;
        width: 300px;
    }

    .download__icon {
        position: relative;
        z-index: 2;
    }

    .download__wrapper::before {
        top: auto;
        bottom: 0px;
        left: 50%;
    
        margin-left: -335px;
    
        width: 640px;
        height: 545px;
    
        background-image: url("../img/hand-tab.png");
        background-repeat: no-repeat;
    }
  
    .download__info {
        position: relative;
        z-index: 2;

        margin-top: 40px;

        font-size: 18px;
        font-weight: 300;

        padding-bottom: 110px;
    }


  }

  @media (min-width: $desktop-width) {
    .download__slogan {

        max-width: 300px;
        margin-top: 87px;
        margin-bottom: 60px; 

        font-size: 50px;
        line-height: 60px;
        font-weight: 300;

    }

    .download__button {
        margin-bottom: 65px;

        font-size: 21px;
    }

    .download__info {
        margin-top: 60px;

        padding-bottom: 125px;
    }

    .download__wrapper::before {
    
        margin-left: -400px;
        width: 885px;
        height: 645px;
    
        background-image: url("../img/hand-desk.png");
        background-repeat: no-repeat;
    }
  }