
.reviews {
    text-align: center;
    position: relative;
}
.reviews__item {
    margin: 0;
}

.reviews__author-name {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

/* Кнопки вперед и назад */
.reviews__prev,
.reviews__next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.reviews__prev {
    left: 0;
}

.reviews__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

