
.reviews {
    text-align: center;
    position: relative;
}
.reviews__item {
    margin: 0;
}

.reviews__author-name {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

/* Кнопки вперед и назад */
.reviews__prev,
.reviews__next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.reviews__prev {
    left: 0;
}

.reviews__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider__toggle {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;

    box-sizing: content-box;
    width: 6px;
    height: 6px;

    background-color: rgba($color: #000000, $alpha: 0.3);

    &:hover,
    &:focus {
        background-color: rgba($color: #000000, $alpha: 0.6);
    }

    &:active {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
    
}

.slider__toggle.active {
    border: 3px solid #33404e;
    background-color: rgba($color: #000000, $alpha: 0.0);
}
