html {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 0;

    min-width: 900px;
    max-width: 1200px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;

    background-color: #849d8f;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.container {
    min-width: 900px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    padding: 0 2.25%;
}

a {
    text-decoration: none;

}

/* .img {
    width: 100%;
    height: auto;
} */

.btn {
    font: inherit;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    text-shadow: 0 2px 5px #a0200b;
    
    background-image: linear-gradient( to top, #e74a35, #f26843);
    box-shadow: 0 2px 2px #ac1000;
    border: none;
     
}

.btn:hover,
.btn:focus {
    background-color: #ffffff;
    background-image: linear-gradient(to top, rgba(231,74,53,0.8), rgba(242,104,67,0.8));

}

.btn:active {
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(231,74,53,0.93), rgba(242,104,67,0.93));
    box-shadow: inset 0 2px 2px #942718;
}

.btn-give {
    font-size: 32px;
}

.main-header {
    height: 73px;

    display: flex;
    justify-content: space-between;

}

.main-navigation {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;

    display: flex;
    vertical-align: bottom;
    align-items: center;
    background-color: #849d8f;
    
    list-style: none;
}

.main-header-logo {
    height: 64px;
    width: 154px;

    align-self: flex-end;
}
    
.main-navigation ul {
    list-style: none;
}

.main-menu {
    display: flex;

    padding-left: 24px;
}

.main-menu a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
    
.main-menu a:hover,
.main-menu a:focus {
    color: black;
    
    background-color: #ffffff;
}

.main-menu a:active{
    background-color: #ededed;

    box-shadow: inset 0 2px 1px #696969;
}

.extra-menu {
    background-color: #f8f7f4;
    color: black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.extra-menu a {
    border: 0;
    
    color: black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.extra-menu a:hover,
.extra-menu a:focus {
    background-color: #fbded7;
}

.extra-menu a:active {
    background-color: #f6b5a5;

    box-shadow: none;
}


.header-column {
    display: flex;
}

.login-form form,
.searh-form form{
    background-color: #f8f7f4;
}

.login-form a {
    color: black;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
    color: #e84d37;
    border-bottom: 1px solid #ec593c30;
}

.working-information {
    margin: 0;

    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}

.working-information p {
    margin: 0;
    padding-bottom: 5px;
}

.working-information a {


    color: white;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.index-main-banner {
    text-align: center;
}

#slide-1 {
    background-image: url(../img/ice-creams-1.png);
    background-repeat: no-repeat;
}
#slide-2 {
    background-image: url(../img/ice-creams-2.png);
    background-repeat: no-repeat;
}
#slide-3 {
    height: 500px;
    background-image: url(../img/ice-creams-3.png);
    background-repeat: no-repeat;
}

.slides-switches {
    list-style: none;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.index-banner1 {
    box-sizing: border-box;
    height: 229px;
    width: 48.9547%;
    margin: 0;
    margin-bottom: 40px;

    background-color: #ac2751;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;

    font-weight: 700;
    font-size: 18px;
}
.index-banner2 {
    box-sizing: border-box;
    height: 229px;
    width: 48.9547%;
    margin: 0;
    margin-bottom: 40px;

    background-color: #7a4f37;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;

    font-weight: 700;
    font-size: 18px;
}

.index-banner1 h2,
.index-banner2 h2 {
    margin: 0;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 35px;
}

.index-banner1 p,
.index-banner2 p {
    padding-left: 20px;
}


.catalog {
    margin-bottom: 40px;
}
.catalog-list {
    list-style: none;


    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.catalog-item {

    width: 23.28%;
    position: relative;

}

.catalog-item img {
    width: 100%;
    height: 100%;
}

.catalog-item::after {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    width: 61px;
    height: 61px;


    background-image: url(../img/hit.png);
    z-index: 50;
}

.catalog-item:hover,
.catalog-item:focus {
    background-color: #ffffff20;

    box-shadow: 0 20px 20px #00000040;
}

.catalog-item a {
    color: white;
    
}

.catalog-item h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item h3:hover,
.catalog-item h3:focus,
.catalog-item h3:active {
    color: #ffbc9e;

    border-bottom: 1px solid #f9ac9f20;
}

.price {
    font-size: 45px;

    text-shadow: 1px 1px 3px #31323550;
}

.price span {
    font-size: 30px;
}

.about-gllacy {
    background-color: #eee2c9;
    background-image: url(../img/wfl.jpg);
    background-repeat: repeat;
    border-radius: 15px;

    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 500;

    padding: 1px 20px;
    margin-bottom: 40px;

}

.about-columns {
    display: flex;
    justify-content: space-around;
}

.about-columns p{
    width: 43%;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.new-post {
    background-image: url(../img/bg_berries.jpg);
    background-repeat: no-repeat;
    color: #323232;

    box-sizing: border-box;
    height: 220px;
    width: 48.9547%;
    margin-bottom: 40px;
    padding-left: 20px;
}

.new-post h6{
    margin: 0;
    margin-top: 25px;

    font-size: 16px;
}

.new-post a{


    background-color: #ffffff80;

    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    font-weight: 700;

    color: #323232;
}

.new-post a:hover,
.new-post a:focus,
.new-post a:active {
    color: #e84d37;

}

.background-suscribe {
    background-image: linear-gradient(to bottom right, #92cdff 12.5%, #ffffff 0, #ffffff 25%, #fe9e90 0, #fe9e90 37.5%, #ffffff 0, #ffffff 50%,  #92cdff 0, #92cdff 62.5%, #ffffff 0, #ffffff 75%, #fe9e90 0, #fe9e90 87.5%, #ffffff 0);
    background-size: 30px 30px;
    padding: 5px;
    margin-bottom: 40px;
    
    box-sizing: border-box;
    width: 48.9547%;
    height: 220px;

}

.suscribe {
    background-color: #f8f7f4;
    height: 100%;
    font-weight: 400;
    color: #5a5a5a;


}

.suscribe p {
    margin: 0;
}

.address {
    background-color: #fdfefe;

    font-size: 14px;
    line-height: 20px;
    color: #323232;
    font-weight: 400;
}

.adress-name,
.address a {
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-navigation a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;


    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-navigation .supplier {
    font-weight: 700;
}

.made,
.made a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.made a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-feedback {
    background-color: #f8f7f4;
    font-size: 24px;
    font-weight: 400;
    color: #323232;
}