html {
    margin: 0;
    padding: 0;

    background-color: #849d8f;
}

body {
    margin: 0;
    padding: 0;


    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;


}

.slide-wrapper {

    margin: 0;
    padding: 0;

    background-color: #849d8f;

}

.width-container {
    margin: auto;
    padding: 0;

    min-width: 900px;
    max-width: 1200px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbos"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    min-width: 900px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    padding: 0 2.25%;
}

a {
    text-decoration: none;

}

/* .img {
    width: 100%;
    height: auto;
} */

.btn {
    padding: 15px 23px;
    border-radius: 100px;

    font: inherit;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    text-shadow: 0 2px 5px #a0200b;
    
    background-image: linear-gradient( to top, #e74a35, #f26843);
    box-shadow: 0 2px 2px #ac1000;
    border: none;
     
}

.btn:hover,
.btn:focus {
    background-color: #ffffff;
    background-image: linear-gradient(to top, rgba(231,74,53,0.8), rgba(242,104,67,0.8));

}

.btn:active {
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(231,74,53,0.93), rgba(242,104,67,0.93));
    box-shadow: inset 0 2px 2px #942718;
}

.btn-give {
    font-size: 32px;
}

.main-header {
    height: 73px;

    display: flex;
    justify-content: space-between;

}

.main-navigation {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;

    display: flex;
    vertical-align: bottom;
    align-items: center;
    
    list-style: none;
}

.main-header-logo {
    height: 64px;
    width: 154px;

    align-self: flex-end;
}
    
.main-navigation ul {
    list-style: none;
}

.main-menu {
    display: flex;

    padding-left: 9px;
}

.main-menu a {
    display: block;

    padding: 5px 15px;

    border-radius: 15px;

}

.main-menu span {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
    
.main-menu a:hover ,
.main-menu a:focus {
    color: black;
    
    background-color: #ffffff;
}

.main-menu a:hover span,
.main-menu a:focus span{
    color: black;
    
}

.main-menu a:active{
    background-color: #ededed;

    box-shadow: inset 0 2px 1px #696969;
}

.extra-menu {
    background-color: #f8f7f4;
    color: black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.extra-menu a {
    border: 0;
    
    color: black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.extra-menu a:hover,
.extra-menu a:focus {
    background-color: #fbded7;
}

.extra-menu a:active {
    background-color: #f6b5a5;

    box-shadow: none;
}


.header-column {
    min-width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searh-form {
    height: 32px;
}

.glass,
.login,
.cart {
    position: relative;
    padding: 0;
    min-width: 32px;
    min-height: 32px;
    border: 0;

    font: inherit;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;


}

.glass::after {

    content: "";

    position: absolute;
    top: 8px;
    left: 8px;

    width: 17px;
    height: 17px;

    background-image: url(../img/search.svg);

    background-repeat: no-repeat;
}

.login span {
    padding-left: 35px;

    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.login
 {
    min-width: 92px;


}

.login::before {
    
    content: "";

     position: absolute;
    top: 6px;
    left: 16px;
 
    width: 20px;
    height: 19px;

    background-image: url(../img/login.svg);

    background-repeat: no-repeat;
}

.cart {
    min-width: 117px;

}

.cart span {
    padding-left: 10px;

    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.cart::before {
    content: "";

     position: absolute;
    top: 6px;
    left: 16px;
 
    width: 21px;
    height: 20px;

    background-image: url(../img/basket.svg);

    background-repeat: no-repeat;
}

.glass:hover,
.login:hover,
.cart:hover {
    background-color: #ffffff;

}

.glass:hover::after,
.login:hover::before,
.cart:hover::before {
    filter: invert();
}

.login:hover span,
.cart:hover  span{
    color: black;
}


.login-form form,
.searh-form form{
    background-color: #f8f7f4;
}

.login-form a {
    color: black;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-form a:hover,
.login-form a:focus,
.login-form a:active {
    color: #e84d37;
    border-bottom: 1px solid #ec593c30;
}

.index-main-banner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.working-information {
    margin: 0;
    width: 100%;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: right;
}

.working-information p {
    margin: 0;
    padding-bottom: 5px;
}

.working-information a {


    color: white;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.index-main-banner {
    text-align: center;
}

.slide h2 {
    display: block;

    margin: 0 auto 40px;
    width: 675px;

    font-size: 60px;
    line-height: 60.35px;


}

.slide{
    
    margin: 0 auto 40px;
    padding-top: 275px;
    width: 675px;

}

.slide a {
    display: inline-block;
}

.btn-give {
    padding: 20px 40px ;
}


.slides-switches {
    display: flex;
    padding: 0;
    margin: 0;


    list-style: none;
}

.slide-btns {
    position: absolute;
    bottom: 55px;
}


.slide-radio label {
    /* position: relative; */
    display: block;
    margin-right: 8px;
    padding: 0;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid white;
    border-radius: 16px;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0);



    
}

.slide-radio label:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.slide-radio label:active {
    background-color: #ffffff;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slide-wrapper #slide-1,
#btn-2:checked ~ .slide-wrapper #slide-2,
#btn-3:checked ~ .slide-wrapper #slide-3 {
  display: block;
}

input[name="slider"] {
    display: none;
}

#btn-1:checked ~ .slide-wrapper label[for="btn-1"],
#btn-2:checked ~ .slide-wrapper label[for="btn-2"],
#btn-3:checked ~ .slide-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}


#btn-1:checked ~ .slide-wrapper {
    background-color: #849d8f;
    background-image: url(../img/ice-creams-1.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#btn-2:checked ~ .slide-wrapper {
    background-color: #98a7b7;
    background-image: url(../img/ice-creams-2.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#btn-3:checked ~ .slide-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/ice-creams-3.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.index-banner1 {
    position: relative;
    box-sizing: border-box;
    height: 229px;
    width: 48.9547%;
    margin: 0;
    margin-bottom: 40px;
    border-radius: 15px;
    padding-right: 20px;

    text-align: right;

    background-color: #ac2751;
    background-image: url(../img/banner-raspberry.png);
    background-repeat: no-repeat;

    font-weight: 700;
    font-size: 18px;
}
.index-banner2 {
    position: relative;
    box-sizing: border-box;
    height: 229px;
    width: 48.9547%;
    margin: 0;
    margin-bottom: 40px;
    border-radius: 15px;
    padding-right: 20px;

    text-align: right;
    vertical-align: text-bottom;

    background-color: #7a4f37;
    background-image: url(../img/banner-chocolate.png);
    background-repeat: no-repeat;

    font-weight: 700;
    font-size: 18px;
}

.index-banner1 h2,
.index-banner2 h2 {
    margin: 0;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 35px;

    text-align: left;
}

.index-banner1 p,
.index-banner2 p {
    margin-bottom: 30px;
    padding-left: 20px;
    text-align: left;
}

.index-banner1 a,
.index-banner2 a {
    position: absolute;

    right: 20px;
    bottom: 25px;


    text-align: right;
    vertical-align: text-bottom;





} 

.catalog {
    margin-bottom: -5px;
}
.catalog-list {
    list-style: none;


    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}



.catalog-item {

    

      width: 23.28%; 
    position: relative;


}

.catalog-item img {
    display:block;
    width: 100%;
    height: 100%;
}

.catalog-item::after {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    width: 61px;
    height: 61px;


    background-image: url(../img/hit.png);
    z-index: 50;
}

.catalog-item a {
    color: white;
    text-align: center;
    
}

.catalog-item h3 {
    display: inline;


    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.prise-position {
    position: relative;
    margin-bottom: 15px;
    height: auto;
}

.price {
    position: absolute;
    margin: 0;

    bottom: 20px;
    
    font-size: 45px;

    text-shadow: 1px 1px 3px #31323550;
}

.price span {
    font-size: 30px;
}

.for-shadow {
    position: absolute;
    background-color: #00000000;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 20px;
    pointer-events: none;
}

.for-shadow:hover {
    box-shadow: 0 20px 20px 0 #00000040;
}

.catalog-item:hover,
.catalog-item:focus {
    background-color: #ffffff20;

    
    box-shadow: 0 0 0 15px #ffffff20;
    border-radius: 1px;
}

.catalog-item:hover .for-shadow,
.catalog-item:focus .for-shadow {
    box-shadow: 0 20px 20px 0 #00000040;
}

.catalog-item h3:hover,
.catalog-item h3:focus,
.catalog-item h3:active {
    color: #ffbc9e;

    

    border-bottom: 1px solid #f9ac9f20;
}


.catalog-item:hover .item-button,
.catalog-item:focus .item-button {
    display: block;
    padding: 0 auto;
    opacity: 1;

}

.item-button {
    display: block;
    margin: auto;
    padding: 15px 16px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 15px;
    width: 200px;

    opacity: 0;
}

.about-gllacy {
    background-color: #eee2c9;
    background-image: url(../img/wfl.jpg);
    background-repeat: repeat;
    border-radius: 15px;

    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 500;

    padding: 1px 20px;
    margin-bottom: 40px;

}

.about-columns {
    display: flex;
    justify-content: space-around;
}

.about-columns p{
    width: 43%;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.new-post {
    background-image: url(../img/bg_berries.jpg);
    background-repeat: no-repeat;
    color: #323232;

    box-sizing: border-box;
    height: 220px;
    width: 48.9547%;
    margin-bottom: 40px;
    padding-left: 20px;
}

.new-post h6{
    margin: 0;
    margin-top: 25px;

    font-size: 16px;
}

.new-post a{


    background-color: #ffffff80;

    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    font-weight: 700;

    color: #323232;
}

.new-post a:hover,
.new-post a:focus,
.new-post a:active {
    color: #e84d37;

}

.background-suscribe {
    background-image: linear-gradient(to bottom right, #92cdff 12.5%, #ffffff 0, #ffffff 25%, #fe9e90 0, #fe9e90 37.5%, #ffffff 0, #ffffff 50%,  #92cdff 0, #92cdff 62.5%, #ffffff 0, #ffffff 75%, #fe9e90 0, #fe9e90 87.5%, #ffffff 0);
    background-size: 30px 30px;
    padding: 5px;
    margin-bottom: 40px;
    
    box-sizing: border-box;
    width: 48.9547%;
    height: 220px;

}

.suscribe {
    background-color: #f8f7f4;
    height: 100%;
    font-weight: 400;
    color: #5a5a5a;


}

.suscribe p {
    margin: 0;
}

.address {
    background-color: #fdfefe;

    font-size: 14px;
    line-height: 20px;
    color: #323232;
    font-weight: 400;
}

.adress-name,
.address a {
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-navigation a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;


    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-navigation .supplier {
    font-weight: 700;
}

.made,
.made a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.made a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-feedback {
    background-color: #f8f7f4;
    font-size: 24px;
    font-weight: 400;
    color: #323232;
}